extends ../../layout

block content
    .container
        .row
            table.table.table-hover.table-bordered
                thead
                    tr
                        th 昵称
                        th 内容
                        th 邮箱
                        th 留言时间
                        th 查看
                        th 更新
                        th 删除
                tbody
                    each item in data.rows
                        tr(class='item-id-' + item._id)
                            td #{item.nickname}
                            td #{item.content}
                            td #{item.email}
                            td #{moment(item.createTime).format('YYYY-MM-DD HH:mm')}
                            td: a(target='_blank', href='/admin/message/' + item._id) 查看
                            td: a(target='_blank', href='/admin/message/update/' + item._id) 修改
                            td
                                button.btn.btn-danger.js-category-del(type='button', data-id=item._id) 删除
    script(src='/js/admin.js')
