extends ../../layout

block content
  .container
    .row
      form.form-horizontal(method='post', action='/admin/message/reply')
        if message._id
          input(type='hidden', name='message[_id]', value=message._id)
        .form-group
          label.col-sm-3.control-label(for='nickname')  #{message.nickname}说
          .col-sm-9
            p.control-label.pull-left !{message.content}
        .form-group
          label.col-sm-3.control-label(for='reply')  回复内容
          .col-sm-9
            input#reply.form-control(type='text', name='message[reply][text]', value=message.reply.text)
        .form-group
          .col-sm-9.col-sm-offset-3
            if emojies.rows && emojies.rows.length > 0
              div(style='display: flex; width: 500px;flex-wrap: wrap;')
                  each emoji in emojies.rows
                    span.js-message-reply(data-meaning=emoji.meaning, style='padding: 10px;')
                      img(src='//timeline.creation.gusaifei.com/emoji/expression/'+emoji.expression)
                      span (#{emoji.meaning})
        .form-group
          .col-sm-offset-3.col-sm-9
            button.btn.btn-default(type='submit') 录入
  script(src="/js/admin.js")
